nav {
    display: flex;
    justify-content: center;
    background-color: #cfd8dc;
    padding: 15px;
}

h1{
    letter-spacing: 2px;
}

.link {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: red;
    
}

.container{
    display: flex;
    justify-content: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card{
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
}
.change{
    padding: 10px 40px;
    margin: 20px 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: red;
}

.change:hover{
    background-color: red;
    color: #fff;
}

.product-info{
    display: flex;
    justify-content: center;
}

h3,h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 15px auto;
}


/* About Component */

img{
    width: 100%;
    
}

.slideshowContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.previousButton{
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    left: 0;
    width: auto;
    padding: 5px;
    height: auto;
    margin-bottom: -20px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nextButton{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    width: auto;
    height: auto;
    padding: 5px;
    margin-top: -10px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* .nextButton{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    width: auto;
    padding: 15px;
    margin-top: -5px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
} */

.previousButton:hover, .nextButton:hover {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
  }