.container{
  display: flex;
  justify-content: center;
  background-color: beige;
}

.main{
  height: 150px;
  align-items:center
}

.btn{
  display: flex;
  justify-content: space-evenly;
}

button{
  padding: 10px;
  
  
  background-image: linear-gradient(yellow,rgb(127, 173, 207));
  border: none;
  text-transform: uppercase;
}

.showMoreButton{
  padding: 10px;
}